.wrapper {
	.start_content {

		animation-name: welcome-bg-img-moving;
		animation-duration: 4s;
		animation-timing-function: ease;

		background-color: #060f0e;

		display: flex;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 965px;
		background-image: url('../../assets/img/sushi-background-about.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;


		.center_text {
			animation-name: welcome-text-moving;
			animation-duration: 4s;
			animation-timing-function: cubic-bezier(.41,1.05,.5,.64);

			backdrop-filter: blur(6px);
			padding: 20px;
			border-radius: 40px;
			box-shadow: var(--box-shadow);
			color: var(--grayish-white);
			text-transform: capitalize;
			background-color: transparent;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 800px;
			height: 400px;
			display: flex;
			border-radius: 20px;
			font-size: 20px;

			h1 {
				font-weight: 900;
			}
			p {
				font-weight: 100;
			}
			
		}
		
	}

	.middle__content {
		min-width: 300px;
		margin: 0 auto;
		padding: 20px;
		max-width: 1000px;
		background-color: white;
		min-height: 800px;
		box-shadow: var(--box-shadow);
		border-radius: 0 0 30px 30px;

		p {
			font-weight: 300;
			font-size: 18px;
			word-spacing: 12px;
		}

		.orange_text {
			color: var(--orange);
		}

		.middle__flexbox_wrapper {
			max-width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			overflow: hidden;

			.middle__block_wrap {
				margin: 50px 0;
				max-width: 400px;
				min-width: 200px;

				img {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 300px;
					max-width: 400px;
					box-shadow: var(--box-shadow);
				}
			}
		}
	}

	.footer {
		margin: 60px 0;
		display: flex;
		justify-content: center;


		.footer__text {
			font-weight: 300;
			border-right: 1px solid var(--light-grey);
			padding: 30px;
		}
		.footer__icons {
			list-style: none;
			display: flex;
			align-items: center;
			gap: 20px;
			li {
				transition: .2s ease;
				opacity: .7;
			}
			li:hover {
				opacity: 1;
				transform: scale(.95);
			}
		}
	}
	
}

// Medias

@media (max-width: 900px) {
	.middle__flexbox_wrapper {
		flex-direction: column;

		&:nth-child(2) {
			flex-direction: column-reverse;
		}
	}
}

// Animations

@keyframes welcome-text-moving {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1
	}
}

@keyframes welcome-bg-img-moving {
	0% {
		transform: scale(1.1);
		filter: grayscale(100%);
	}
	50% {
		filter: grayscale(25%)
	}
	100% {
		transform: scale(1);
		filter: grayscale(0);

	}
}