.wrapper {
  .content {
    max-width: var(--max-width);
    margin: 15px auto;
    .sushi {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-gap: 30px;
      justify-items: center;
    }
  }
}
