.filter_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  display: flex;
  margin: 20px 0;
}

.filter {
  padding: 20px;
  background-color: var(--light-grey);
  border-radius: 33px;
  border: none;
  text-align: center;
  font-weight: 500;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    color: var(--white);
    background-color: var(--orange);
  }
}

.sort {
  color: var(--orange);
  font-weight: 700;
  border: 1px solid var(--orange);
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;

  border-radius: 30px;
  transition: var(--transition);

  &:hover {
    background-color: var(--orange);
    color: var( --white)
  }
}

.sort_wrapper {
  font-weight: 900;
  letter-spacing: 0.5px;
}

/*Popup*/


