.wrapper {
  position: fixed;
  background: var(--grayish-white);
  box-shadow: -7px 0px 8px 6px rgba(53, 86, 112, 0.05);
  padding: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 320px;
  z-index: 12;
  overflow-y: scroll;

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: var(--creamy);
    box-shadow: var(--box-shadow);
    border-radius: 20px;

    .sushi_count {
      display: inline-block;
      font-size: 16px;
      padding-top: 20px;
      padding-left: 20px;
      text-align: center;
      color: var(--orange);
      font-weight: 600;
      letter-spacing: 1.4px;

      &::after {
        content: 'шт';
        position: relative;
        font-size: 9px;
        top: 2px;
        left: -2px;
        color: var(--darky-orange);
      }
    }

    .sushi_sum {
      font-weight: 600;
      font-size: 16px;
      color: var(--darky-orange);
    }

    .close_button {
      margin: 15px;
      display: block;
      width: 30px;
      height: 30px;
      text-align: center;
      color: var(--darky-orange);
      font-weight: 900;
      border: none;
      background-color: var(--grayish-white);
      border-radius: 100%;
      cursor: pointer;
      transition: 0.3s ease;
      box-shadow: var(--box-shadow);
      &:hover {
        background-color: var(--orange);
        color: var(--grayish-white);
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 2px;
    flex-direction: column;
  }

  .sushi {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 200;
    background-color: var(--creamy);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    list-style: none;
    margin: 10px;
    padding: 15px;
    &_title_and_price {
      font-size: 24px;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--darky-orange);
    }
    &_img {
      margin: 0 auto;
      border-radius: 20px;
      display: block;
      width: 200px;
      overflow: hidden;
    }
    &_category_and_count_wrapper {
      display: flex;
      justify-content: space-between;
    }
    &_category {
      height: 18px;
      padding: 10px 0;
      color: grey;
      font-weight: 700;
      font-size: 12px;
      text-transform: capitalize;
    }
    .one_sushi_count {
      position: relative;
      top: 9px;
      font-size: 12px;
      color: var(--orange);
      font-weight: 700;
      margin-left: 10px;
    }

    .buttons_wrapper {
      display: flex;
      justify-content: space-between;
      button {
        transition: var(--transition);
        margin: 15px 10px 10px;
        border-radius: 20px;
        border: none;
        width: 100px;
        height: 70px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        opacity: 0.93;

        cursor: pointer;
        &:hover {
          box-shadow: 3px 0px 27px -5px rgb(34 60 80 / 36%);
          opacity: 1;
        }
      }
      .button_remove_one_sushi {
        color: var(--orange);
      }
      .button_remove_all_sushi {
        background-color: #d22b2b;
        color: var(--grayish-white);
        &:hover {
          box-shadow: 0px 0px 18px 0px rgba(255, 0, 11, 0.5);
        }
      }
    }
  }

  .buy_button {
    width: 90%;
    padding: 20px;
    background-color: var(--light-grey);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-weight: 500;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      background-color: var(--orange);
      color: var(--grayish-white);
    }
    &:active {
      background-color: var(--darky-orange);
      color: white;
      transition: 0.1s ease;
      transform: scale(0.98);
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    right: 0;
    max-width: 50%;
    .close_button {
      transform: scale(1.4);
    }
    .sushi {
      flex-direction: column;
      max-width: 100%;
      &_img {
        width: 100%;
      }
      .buttons_wrapper {
        justify-content: space-around;
      }
    }
  }
}
